.CourseProgress {
    float: right;
    padding-top: 10px;
}

.barWrapper {
    border: 1px solid #5041b2;
    border-radius: 3px;
}

.bar {
    height: 5px;
    background: linear-gradient(90deg, #5041b2 0%, #7969e6 100%);
}

.prcnt {
    font-size: 12px;
}